@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body { 
  background-color: #FFEBD4;
}

.strokeAbout {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.text-stroke-white {
  -webkit-text-stroke: 9px white; /* Adjust stroke width and color */
  color: transparent;
}

.text-stroke-black {
  -webkit-text-stroke: 9px black; /* Adjust stroke width and color */
  color: transparent;
}